// Colors
$color-bg: #FBFBFB;
$color-white: #FFFFFF;
$color-white-gray: #FCFCFC;
$color-gray: #DCDCDC;
$color-text: #000;
$color-blue: #0029FF;

// Shadows
$shadow-1: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
$shadow-2: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

// @media
$size-sm: 425px;
$size-2sm: 675px;
$size-md: 825px;